<h2>My Rows</h2>
<div>
  <label>Row name:</label> <input #rowName />
  <button (click)="add(rowName.value); rowName.value=''">
    Add
  </button>
</div>
<ul class="list-group row"  [dragula]='"bag-one"' [dragulaModel]='rows'>
  <li class="list-group-item title">
    <div class="col-md-1"></div>
    <div class="col-md-1">ID</div>
    <div class="col-md-1">WBSCODE</div>
    <div class="col-md-4">DESCRIPTION</div>
    <div class="col-md-1">P.V.</div>
    <div class="col-md-1">% PRG</div>
    <div class="col-md-1">E.V.</div>
    <div class="col-md-1">A.C.</div>
    <div class="col-md-1">C.V.</div>
  </li>
  <li *ngFor="let row of rows" draggable="true" [class.selected]="row === selectedRow" (click)="onSelect(row)" class="list-group-item {{row.enabled}}">
    <div [ngSwitch]="row.enabled" class="actions col-md-1">
      <template [ngSwitchCase]="true"><button (click)="disable(row)">Disable Row</button></template>
      <template [ngSwitchCase]="false"><button  (click)="enable(row)">Enable Row</button></template>
    </div>
    <div class="element row">
      <div class="col-md-1">{{row.id}}</div>
      <div class="col-md-1">{{row.wbscode}}</div>
      <inline-editor class="col-md-4" type="text" [(ngModel)]="row.description" (onSave)="saveEditable($event)" name="editableText1" size="8" min="3" max="20" [fnErrorLength]="fnErrorLength"></inline-editor>
      <!--<span>{{row.description}}</span>-->
      <div class="col-md-1">{{row.pv}}</div>
      <div class="col-md-1">{{row.progress}}</div>
      <div class="col-md-1">{{row.ev}}</div>
      <div class="col-md-1">{{row.ac}}</div>
      <div class="col-md-1">{{row.cv}}</div>
    </div>
    <!--<button class="delete" (click)="delete(row); $event.stopPropagation()">x</button>-->
  </li>
</ul>
<!--<ul>
  <li *ngFor="let prog of progress">
    <div>{{prog.id}} - {{prog.progress}}</div>
  </li>
</ul>-->
<div *ngIf="selectedRow">
  <h2>
    {{selectedRow.wbscode | uppercase}} is my Selected Row!!
  </h2>
  <!--<button (click)="gotoDetail()">View Details</button>-->
</div>
