<!--<h2>PM Table</h2>-->
<div>
  <!--<label>Row name:</label> <input #rowName />
  <button (click)="add(rowName.value); rowName.value=''">
    Add new row
  </button>-->
  <row-add></row-add>
</div>
<ul class="list-group row"  [dragula]='"bag-one"' [dragulaModel]='rows'>
  <li class="list-group-item title">
    <div class="col-md-1"></div>
    <div class="col-md-1">ID</div>
    <div class="col-md-1">WBSCODE</div>
    <div class="col-md-4">DESCRIPTION</div>
    <div class="col-md-1">P.V.</div>
    <div class="col-md-1">% PRG</div>
    <div class="col-md-1">E.V.</div>
    <div class="col-md-1">A.C.</div>
    <div class="col-md-1">C.V.</div>
  </li>
  <li *ngFor="let row of rows" draggable="true" [class.selected]="row === selectedRow" (click)="onSelect(row)" (change)="recalcTotals(rows)" class="list-group-item {{row.enabled}}">
    <div [ngSwitch]="row.enabled" class="actions col-md-1">
      <template [ngSwitchCase]="true"><input type="button" title="disable row" class="btnDisable" (click)="disable(row)" /></template>
      <template [ngSwitchCase]="false"><input type="button"  title="enable row" class="btnEnable" (click)="enable(row)" /></template>
    </div>
    <div class="element row">
      <div class="col-md-1">{{row.id}}</div>
      <!--<div class="col-md-1">{{row.wbscode}}</div>-->
      <inline-editor class="col-md-1" type="text" [(ngModel)]="row.wbscode" (onSave)="saveEditable($event)" name="editableText1" size="8" min="2" max="20" [fnErrorLength]="fnErrorLength"></inline-editor>
      <inline-editor class="col-md-4" type="text" [(ngModel)]="row.description" (onSave)="saveEditable($event)" name="editableText1" size="8" min="3" max="20" [fnErrorLength]="fnErrorLength"></inline-editor>
      <!--<span>{{row.description}}</span>-->
      <inline-editor class="col-md-1" type="number" [(ngModel)]="row.pv" (onSave)="recalcValues(row); recalcTotals(rows);" (onSave)="saveEditable($event)" name="editableText1" size="100" min="0" max="100" [fnErrorLength]="fnErrorLength"></inline-editor>
      <!--<div class="col-md-1">{{row.pv}}</div>-->
      <inline-editor class="col-md-1" type="number" [(ngModel)]="row.progress" (onSave)="recalcValues(row); recalcTotals(rows);" (onSave)="saveEditable($event)" name="editableText1" size="100" min="0" max="100" [fnErrorLength]="fnErrorLength"></inline-editor>
      <!--<div class="col-md-1">{{row.progress}}</div>-->
      <!--<div class="col-md-1" [(ngModel)]="row.ev">{{row.ev | number: '1.0-1'}}</div>-->
      <!--<inline-editor class="col-md-1" type="number" [(ngModel)]="row.ev" disabled="true" (onSave)="saveEditable($event)" name="editableText1" size="100" min="0" max="100" [fnErrorLength]="fnErrorLength"></inline-editor>-->
      <div class="col-md-1" [innerText]="row.ev | number: '1.0-1'"></div>
      <div class="col-md-1" [innerText]="row.ac | number: '1.0-1'"></div>
      <div class="col-md-1" [innerText]="row.cv | number: '1.0-1'"></div>
    </div>
    <row-progressbar [dynamic]="row.progress" [enabled]="row.enabled"></row-progressbar>
    <!--<button class="delete" (click)="delete(row); $event.stopPropagation()">x</button>-->
  </li>
  <li class="list-group-item title totals">
    <div class="col-md-4">TOTAL:</div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1">{{totalEV | number: '1.0-1'}}</div>
    <div class="col-md-1">{{totalAC | number: '1.0-1'}}</div>
    <div class="col-md-1">{{totalCV | number: '1.0-1'}}</div>
  </li>
</ul>
<!--<ul>
  <li *ngFor="let prog of progress">
    <div>{{prog.id}} - {{prog.progress}}</div>
  </li>
</ul>-->
<!--<div *ngIf="selectedRow">
  <h2>
    {{selectedRow.wbscode | uppercase}} is my Selected Row!!
  </h2>-->
  <!--<button (click)="gotoDetail()">View Details</button>-->
<!--</div>-->
