/* You can add global styles to this file, and also import other style files */
/* Prevent the text contents of draggable elements from being selectable. */
a{
  color: #333 !important;
  border-bottom-color: #333 !important;
}

.list-group-item {
  padding-bottom: 5px;
  padding-top: 5px;
}

.list-group-item.gu-transit {
  background-color: #ddd;
}

.list-group-item .actions {
  display:inline;
}

.list-group-item .element {
  display:inline;
}

.list-group-item.false {
  background: #ccc;
}

.list-group-item.false .element{
  pointer-events: none;
}

.list-group-item.title{
  height: 50px;
  font-weight: bold;
  border-width: thin;
  border-color: black;
  position: relative;
  z-index:20;
}

.list-group-item.title.totals {
  position:fixed;
  bottom:0px;
  right:0px;
  left: 0px;
  width:100%;
  z-index:0;

}

.list-group-item.selected{
  /*border-width: thin;
  border-color: black;
  position: relative;*/
  /*z-index:10;*/
}

.list-group-item:hover{
  border-width: thin;
  border-color: black;
  position: relative;
  z-index:10;
}

.inlineEditForm {
    position: relative;
    z-index:10;
}

.btnDisable {
    cursor:pointer;
    border: 0px;
    padding: 0px 10px 0px 10px;
    background:url('resources/images/slash.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.btnEnable {
    cursor:pointer;
    border: 0px;
    margin: 0 0 0 0;
    background:url('resources/images/tick.gif');
    background-repeat: no-repeat;
    background-position: center;
}

/* Progress Bar Styles*/
.progress {
  height: 10px !important;
  margin-bottom: 0px !important;
}

.progress-bar {
  height: 100%;
  font-size: 7px !important;
  line-height: 12px !important;
}

.progress-bar-info {
    background-color: #ccc;
    opacity: 0.5;
}

/* Row Styles */
/*.row {
  margin-left: -5px !important;
  margin-right: -5px !important;
}*/
