/* You can add global styles to this file, and also import other style files */
/* Prevent the text contents of draggable elements from being selectable. */
a{
  color: #333 !important;
  border-bottom-color: #333 !important;
}

.list-group-item {
  padding-bottom: 5px;
  padding-top: 5px;
}

.list-group-item.gu-transit {
  background-color: #ddd;
}

.list-group-item .actions {
  display:inline;
}

.list-group-item .element {
  /*display:inline;*/
}

.list-group-item.false {
  background: #ccc;
}

.list-group-item.false .element{
  pointer-events: none;
}

.list-group-item.title{
  height: 30px;
  font-weight: bold;
  border-width: thin;
  border-color: black;
  position: relative;
  z-index:20;
}

.list-group-item.title.totals {
  position:fixed;
  bottom:0px;
  right:0px;
  left: 0px;
  width:100%;
  z-index:0;
}

.list-group-item.selected{
  /*border-width: thin;
  border-color: black;
  position: relative;*/
  /*z-index:10;*/
}

.list-group-item:hover{
  border-width: thin;
  border-color: black;
  position: relative;
  z-index:10;
}

.inlineEditForm {
    position: relative;
    z-index:10;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-xs-1 {
    text-align: center;
}

label {
  font-weight: 100;
  cursor:pointer;
}

/* Buttons Styles Enable/Disable/Cancel */
.btnEnable {
    cursor:pointer;
    border: 0px;
    margin: 0 0 0 0;
    background:url('resources/images/tick.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.btnDisable {
    cursor:pointer;
    border: 0px;
    padding: 0px 10px 0px 10px;
    background:url('resources/images/slash.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.btnCancel {
    cursor:pointer;
    border: 0px;
    padding: 0px 10px 0px 10px;
    background:url('resources/images/cross.gif');
    background-repeat: no-repeat;
    background-position: center;
}

/* Progress Bar Styles*/
.progress {
  height: 5px !important;
  margin-bottom: 0px !important;
}

.progress-bar {
  height: 100%;
  font-size: 7px !important;
  line-height: 12px !important;
}

.progress-bar-info {
    background-color: #ccc;
    opacity: 0.5;
}

.progress-bar.progress-bar-success0 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(255,0,0));
}

.progress-bar.progress-bar-success1 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(229,25,0));
}

.progress-bar.progress-bar-success2 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(204,51,0));
}

.progress-bar.progress-bar-success3 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(178,76,0));
}

.progress-bar.progress-bar-success4 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(153,102,0));
}

.progress-bar.progress-bar-success5 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(127,127,0));
}

.progress-bar.progress-bar-success6 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(102,153,0));
}

.progress-bar.progress-bar-success7 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(76,178,0));
}

.progress-bar.progress-bar-success8 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(51,204,0));
}

.progress-bar.progress-bar-success9 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(25,229,0));
}

.progress-bar.progress-bar-success10 {
  background: -webkit-linear-gradient(left, rgb(255,0,0), rgb(0,255,0));
}

/* Style per form */
.form-group-sm .col-sm-10 {
  margin-bottom: 5px;
}

.form-group-sm .col-sm-2 {
  margin-bottom: 5px;
}

.form-group-sm .col-sm-12 {
  margin-bottom: 5px;
}

/*
R = (255 * (100 - n)) / 100
G = (255 * n) / 100
B = 0

.progress-bar-success {
    background-color: rgb(255,0,0);
}*/

/* Row Styles */
/*.row {
  margin-left: -5px !important;
  margin-right: -5px !important;
}*/
