/* You can add global styles to this file, and also import other style files */
/* Prevent the text contents of draggable elements from being selectable. */
.list-group-item.gu-transit {
  background-color: #ddd;
}

.list-group-item .actions {
  display:inline;
}

.list-group-item .element {
  display:inline;
}

.list-group-item.false {
  background: #ccc;
}

.list-group-item.false .element{
  pointer-events: none;
}

.list-group-item.title{
  height: 50px;
  font-weight: bold;
}

.inlineEditForm {
    position: relative;
    z-index:10;
}
